.Card__Container img{
    width: 140px;
}

.Card__Container img.Card__Back{
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.Card__Container img.Card__Back:hover {
    transform: scale(1.1);
    -webkit-filter: drop-shadow(5px 5px 5px #111);
    filter:         drop-shadow(5px 5px 5px #111); 
}
