.App {
  text-align: center;
  background-color: #c0d0eb;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.Footer {
  background-color: #c0d0eb;
  color: #274e8c;
  padding-right: 20px;
  padding-bottom: 8px;
  text-align: right;
  font-size: 14px;
}
#canvas {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ButtonLink__Container__enabled {
  color: #8f611f;
  background-color: #F4B860;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  border-radius: 20px;
  margin: 8px;
  -webkit-box-shadow: 3px 4px 11px -4px rgba(0,0,0,0.57); 
  box-shadow: 3px 4px 11px -4px rgba(0,0,0,0.57);
}

.ButtonLink__Container__disabled {
  color: grey;
  background-color: lightgrey;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  border-radius: 20px;
  margin: 8px;
  -webkit-box-shadow: 3px 4px 11px -4px rgba(0,0,0,0.57); 
  box-shadow: 3px 4px 11px -4px rgba(0,0,0,0.57);
  pointer-events: none;
}

.ButtonLink__Content {
  padding: 8px 16px;
}

.Panel__Container {
  background-color: #87a8de;
  padding: 20px;
  margin: 8px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 4px 11px -4px rgba(0,0,0,0.57); 
  box-shadow: 3px 4px 11px -4px rgba(0,0,0,0.57);
  max-width: 400px;
  min-width: 300px;
}

.Panel__Container__centered {
  position:absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}